<div class="container">
    <div class="card card-body">
        <div class="row">
        <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h1 class="head1 mt-5">Add a category</h1>
                    <div class="p-2"></div>
                    <form action="" method="POST">
                        <label for='product_name'>Category Name: </label>
                <input type="text" class="form-control mt-2 mb-3" name="category" placeholder="Enter category name" value="">
                        <input type="submit" value="Add Category" class="btn btn-success mt-2">
                    </form>
                    <img class="mt-4" src="https://media.istockphoto.com/photos/latino-employee-in-supermarket-arranging-fruit-stack-picture-id1203733334?k=20&m=1203733334&s=612x612&w=0&h=AgweWxg22xqcTEEbFA7UPAzY_cN9AjzeYzFOTA36YE4=" alt="Girl in a jacket" width="510px;">
                </div>
        </div>
    </div>
</div>


<style>
.head1{
    font-size: 34px;
    font-weight: bold;
    text-align: center;
}
.container{
    padding-top: 50px;
    width: auto;
    padding-bottom: 50px;
}
</style>