<div class="container">
	<div class="card card-body">
		<h3>Edit Coupon</h3>
		<form action="" method="post">
			<div class="form-group">
				{{!-- Practical 5 Exercise 2: Add a title input text here named 'title'--}}
				<label class="font-italic" for="couponName">Coupon Name</label>
				<input class="form-control" id="couponName" name="couponName" value="{{coupon.couponName}}"/>
			</div>
			<div class="form-group mb-4">
				<label class="font-italic" for="percentageDiscount">Percentage Discount</label>
				<input class="form-control" type="number" id="percentageDiscount" name="percentageDiscount" min="5" max="10" value="{{coupon.percentageDiscount}}"/>
			</div>
			<div class="form-group mb-4">
				<label class="font-italic" for="expiryDate">Expiry date</label>
				<input class="form-control" type="date" id="expiryDate" name="expiryDate" value="{{coupon.expiryDate}}"  />
			</div>

			</div>
			<br>
			<button id="btnSubmit" type="submit" class="btn btn-primary">Save
			</button>
		</form>
	</div>
</div>

<script>
	var today = new Date();
	var dd = today.getDate();
	var mm = today.getMonth();
	var yyyy = today.getFullYear();

	if (dd < 10){
		dd = "0" + dd;
	}

	if (mm < 10){
		mm = "0" + mm
	}

	today = yyyy + "-" + mm + "-" + dd;
	document.getElementById("expiryDate").setAttribute("min", today);
</script>

