<table class="table" style="width: 80%;">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Order No.</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Cc0537db76</td>
      <td>Test 18</td>
      <td>Paid</td>
    </tr>
        <tr>
      <th scope="row">2</th>
      <td>Ge0542db32</td>
      <td>Test 18</td>
      <td>Paid</td>
    </tr>
        <tr>
      <th scope="row">3</th>
      <td>Ap0532db12</td>
      <td>Test 18</td>
      <td>Paid</td>
    </tr>
        <tr>
      <th scope="row">4</th>
      <td>Ef5253db42</td>
      <td>Test 18</td>
      <td>Paid</td>
    </tr>
  </tbody>
</table>