<div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h1 class="text-center mt-5">Add Stock</h1>
                        <div class="p-2"></div>
                        {{#product}}
                        <h2>Current stock: {{stock}}</h2>
                        <div class="p-2"></div>
                        <form method="POST">
                            <label for='stock'>Enter stock</label>
                            <input type="number" class="form-control" name="stock" placeholder="Enter stock" value="0" min="0" required>
                            <div class="p-2"></div>
                            <input type="submit" value="Add stock" class="btn btn-success mt-2 ">
                        </form>
                        {{/product}}
                        <img class="mt-5" src="/images/veg.jpg" >

                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>