<body>
<input type="checkbox" id="sidebar-toggle">
  <div class="sidebar">
    <div class="sidebar-container">
      <div class="sidebar-header">
        <h3 class="brand">
              <span class="fas fa-shopping-basket" style="color:#27ae60"></span>
              <span>SGMart Admin</span>
        </h3>
        <label for="sidebar-toggle" class="las la-bars" style="padding-left: 7.5px !important"></label>
      </div>
        <div class="sidebar-menu">
            <ul>
              <li>
                <a href="/admin" class="active">
                  <span class="las la-chart-bar"></span>
                  <span>Dashboard</span>
                </a>
              </li>
              <li>
                <a href="/admin/listorders">
                  <span class="las la-receipt"></span>
                  <span>Orders</span>
                </a>
              </li>
              <li>
                <a href="">
                  <span class="las la-users"></span>
                  <span>Logs</span>
                </a>
              </li>
              <li>
                <a href="">
                  <span class="las la-apple-alt"></span>
                  <span>Products</span>
                </a>
              </li>
              <li>
                <a href="">
                  <span class="las la-thumbtack"></span>
                  <span>Brands</span>
                </a>
              </li>
              <li>
                <a href="">
                  <span class="las la-balance-scale"></span>
                  <span>Categories</span>
                </a>
              </li>
              <li>
                <a href="/admin/admincouponlist">
                  <span class="las la-tag"></span>
                  <span>Coupons</span>
                </a>
              </li>
              <li>
                <a href="/blog/listBlogs">
                  <span class="lab la-blogger-b"></span>
                  <span>Blogs</span>
                </a>
              </li>
              <li>
                <a href="">
                  <span class="las la-plus-square"></span>
                  <span>Add Product</span>
                </a>
              </li>
              <li>
                <a href="">
                  <span class="las la-plus-square"></span>
                  <span>Add Brand</span>
                </a>
              </li>
              <li>
                <a href="">
                  <span class="las la-plus-square"></span>
                  <span>Add Category</span>
                </a>
              </li>
              <li>
                <a href="/blog/addBlog">
                  <span class="las la-plus-square"></span>
                  <span>Add Blogs</span>
                </a>
              </li>
              <li>
                <a href="/admin/admincouponcreate">
                  <span class="las la-plus-square"></span>
                  <span>Create Coupons</span>
                </a>
              </li>
              <li>
                <a href="/admin/createStaffAcc">
                  <span class="las la-user-plus"></span>
                  <span>Create Staff</span>
                </a>
              </li>
              <li>
                <a href="">
                  <span class="las la-power-off"></span>
                  <span>Logout</span>
                </a>
              </li>
            </ul>
        </div>
    </div>
  </div>
</body>