<header>
    <div class="search-wrapper">
        <span class="las la-search"></span>
        <input type="search" placeholder="Search">
    </div>
    <div class="social-icons">
        <span class="las la-bell"></span>
        <span class="las la-comment"></span>
        <div></div>
    </div>
</header>