<nav>
    <div class="header-1">

        <a class="logo" href=""><i class="fas fa-shopping-basket"></i>SGMart</a>

        <form action="" class="search-box-container">
            <input type="search" type="search" placeholder="Search" aria-label="Search" name="q" id="search-box">
            <label for="search-box" class="fas fa-search" type="submit"></label>
        </form>

    </div>

    <div class="header-2">

        <div id="menu-bar" class="fas fa-bars"></div>

        <nav class="navbar">
            <a href="">Home</a>

            <a href="">Products</a>
            
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" type="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Brands</a>
                <div class="dropdown-menu">
                  {{!-- {% for brand in brands %} --}}
                  <a class="dropdown-item" href="" >brand name</a>
                  {{!-- {% endfor %} --}}
                </div>
            </div>

            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" type="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                <div class="dropdown-menu">
                  {{!-- {% for category in categories %} --}}
                  <a class="dropdown-item" href="" >category name</a>
                  {{!-- {% endfor %} --}}
                </div>
            </div>

            <a href="">Contact</a>
            
        </nav>
        
        <div class="icons">
          <a class="fas fa-user-circle nav-link" data-toggle="dropdown" id="dropdownMenuLink" aria-expanded="false" href="#" style="font-size: 25px !important; width: 25px !important; display: inline-block !important;"></a>
          {{#if user}}
            <div class="dropdown-menu">
                  <a class="dropdown-item" href="/user/profile/{{user.id}}">Profile</a>
                  <a class="dropdown-item" href="/user/logout">Logout</a>
            </div>
          {{else}}
            <div class="dropdown-menu">
                  <a class="dropdown-item" href="/user/login">Login</a>
                  <a class="dropdown-item" href="/user/register">Register</a>
            </div>
          {{/if}}

          <a class="fas fa-shopping-cart" href="" tabindex="-1" style="font-size: 25px !important;"> session cart</a>
        </div>

    </div>
</nav>