  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;

}

:root{
  --green:#27ae60;
  --black:#2c2c54;
}

*::selection{
  background:var(--green);
  color:white;
}

html{
  overflow-x: hidden;
  scroll-padding-top: 65px;
  scroll-behavior: smooth;

}

section{
    padding:20px 9%;
}

.header-1{
  background:#eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:20px 9%;
}

.logo{
  color:var(--black);
  font-weight: bolder;
  font-size: 30px;
  cursor: pointer;
  text-decoration: none;
}

.logo i{
  padding-right: 5px;
  color:var(--green);
}

.header-1 .search-box-container{
  display: flex;
  height: 50px;
}

.header-1 .search-box-container #search-box{
  height: 100%;
  width:100%;
  padding: 10px;
  font-size: 20px;
  color:#333;
  border:1px solid rgba(0,0,0,.3);
  text-transform: none;
}

.header-1 .search-box-container label{
  height: 100%;
  width: 80px;
  font-size: 25px;
  line-height: 50px;
  color:#fff;
  background:var(--green);
  text-align: center;
  cursor: pointer;
}

.header-2{
  background:#fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:20px 9%;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  position: relative;
}

.header-2 .navbar a{
  padding: 5px 15px;
  font-size: 20px;
  border-radius: 5px;
  color:var(--black);
  cursor: pointer;
  text-decoration: none;
}

.header-2 .navbar a:hover{
  background:var(--green);
  color:#fff;
}

.header-2 .icons a{
  font-size: 20px;
  color:var(--black);
  padding-left: 10px;
  text-decoration: none;

}

.header-2 .icons a:hover{
  color:var(--green);
}

/* .header-2 .lining {
  padding-left: 600px;
}

.header-2 .lining a{
  font-size: 2rem;
  color:var(--black);
  padding-left: 1rem;
  text-decoration: none;.
  display: inline-block;
} */

#menu-bar{
  font-size: 30px;
  border-radius: 5px;
  border:1px solid var(--black);
  padding: 8px 15px;
  color:var(--black);
  cursor: pointer;
  display: none;
}

.first{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
  
.first .image{
    flex:1 1 400px;
    padding-top: 50px;
}
  
.first .image img{
    width:100%;
}
  
.first .welc{
    flex:1 1 400px;
    font-size: 20px;
}
  
.first .welc span{
    font-size: 30px;
    color:#666;
}
  
.first .welc h3{
    font-size: 50px;
    color:var(--black);
}

.btn1{
    font-size: 17px;
    background:var(--green);
    display: inline-block;
    color:#fff;
    padding:8px 30px;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
}
  
.cat .card-panel{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding-top: 10px;
}
  
.cat .card-panel .card{
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 5px;
    text-align: center;
    padding:20px;
    flex:1 1 250px;
}
  
.cat .card-panel .card img{
    width: 280px;
    height: 200px;
    font-size: 20vw;
}
  
.cat .card-panel .card h3{
    font-size: 20px;
    color:var(--black);
}
  
.cat .card-panel .card p{
    font-size: 20px;
    color:#666;
    padding: 5px 0;
}
  
.cat .card-panel .card .btn2{
    display: block;
}

.btn2{
    display: inline-block;
    margin-top: 10px;
    background:var(--green);
    color:#fff;
    padding: 8px 30px;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.span1{
    text-align: center;
    color:var(--black);
    text-transform: uppercase;
    padding: 10px;
    font-size: 35px;
    padding-bottom: 20px;
}
  
.span1 span{
    color:var(--green);
    text-transform: uppercase;
}

.footer .box-container{
  display: flex;
  gap:15px;
  flex-wrap: wrap;
}

.footer .box-container .box{
  padding: 60px;
  flex:1 1 20px;
}

.footer .box-container .box h3{
  font-size: 25px;
  color:var(--black);
}

.footer .box-container .box p{
  font-size: 20px;
  color:#666;
  padding:17px 0;
}

.footer .box-container .box .links{
  padding:10px 0;
}

.footer .box-container .box .links a{
  display: block;
  padding: 5px 0;
  font-size: 17px;
  color:#333;
  text-decoration: none;
}

.footer .box-container .box .links a:hover{
  text-decoration: underline;
  color:var(--green);
}

.footer .credit{
  padding:25px 1px;
  border-top: 1px solid rgba(0,0,0,.1);
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
}

.footer .credit span{
  color:var(--green);
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  margin-bottom: 30px;
  padding: 12px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #222;
}

.title span {
  color: #bac34e;
  padding-left: 7px;
}

.container .card {
  position: relative;
  background: #f3f3f3;
  text-align: center;
  overflow: hidden;
}

.container .card .card-body {
  padding: 15px;
}

.container .card .card-body h4 {
  font-size: 24px;
  color: #222;
}

.container .card .card-body p {
  font-size: 28px;
  color: #222;
  padding: 10px 0;
  font-weight: 650;
}

.container .card .card-body .discp {
  font-size: 20px;
  color: #222;
  padding: 10px 0;
  font-weight: 650;
  color: #f00; 
  position:absolute; 
  top: 81%; left:39%; 
}







































/* media queries  */
  
@media(max-width:1200px){
  
    html{
      font-size: 55%;
    }
  
  }
  
  @media(max-width:991px){
  
    .header-1,
    .header-2{
      padding:20px;
    }
  
    section{
      padding:20px;
    }
  
  }
  
  @media(max-width:768px){
  
    #menu-bar{
      display: initial;
    }
  
    .header-2 .navbar{
      position: absolute;
      top:100%; left: 0; right:0;
      background:var(--black);
      padding:10px 20px;
      display: none;
    }
  
    .header-2 .navbar.active{
      display: initial;
    }
  
    .header-2 .navbar a{
      font-size: 25px;
      display: block;
      text-align: center;
      background:#fff;
      padding:10px;
      margin:15px 0;
    }

    .deal{
      background-position: left;
    }
  
    .deal .content{
      max-width: 100%;
      text-align: center;
    }
  
    .deal .content .count-down{
      justify-content: center;
    }
  
    .contact form .inputBox input{
      width:100%;
    }
  
    .newsletter h3{
      font-size: 22px;
    }
  
  }
  
  @media(max-width:450px){
  
    html{
      font-size: 50%;
    }
  
    .header-1{
      flex-flow: column;
    }
  
    .header-1 .search-box-container{
      width:100%;
      margin-top: 20px;
    }
  
    .logo{
      font-size: 40;
    }
  
    .deal .content .count-down .box h3{
      font-size: 40px;
    }
  
    .deal .content .count-down .box span{
      font-size: 15px;
    }
  
  }