<div class="row">
  <div class="col-75">
    <div class="container">
      <form method="post" action="">
        <div class="row">
          <div class="col-50">
            <h3>Delivery Time Slot</h3>
            <label for="date"><i class="fa fa-user"></i> Delivery Date</label>
            <input type="date" name="fromDate" id="datefield" min="" required>
            <label for="email"><i class="fa fa-envelope"></i> Delivery Time</label>
            <select name="time" id="time" placeholder="Select Time Slot" required>
                <option value="" disabled selected>Select Time Slot</option>
                <option value="9AM">9AM</option>
                <option value="10AM">10AM</option>
                <option value="11AM">11AM</option>
                <option value="12AM">12AM</option>
                <option value="1AM">1AM</option>
                <option value="2AM">2AM</option>
                <option value="3AM">3AM</option>
                <option value="4AM">4AM</option>
                <option value="5AM">5AM</option>
                <option value="6AM">6AM</option>
                <option value="7AM">7AM</option>
                <option value="8AM">8AM</option>
            </select>
        <input type="submit" value="Edit" class="btn">
      </form>
    </div>
  </div>
</div>

<style>
    .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  input[type=date] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  select{
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }
</style>

<script>
    //n = new Date()
    //y = n.getFullYear()
    //m = n.getMonth()+1
    //d = n.getDate()
    //todaydate = y + "-" + m + "-" + d
    //document.getElementById("fromdate").innerHTML = y + "-" + m + "-" + d

    //datePickerId.min = new Date().toISOString().split("T")[0];

    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();

    if (dd < 10) {
    dd = '0' + dd;
    }

    if (mm < 10) {
    mm = '0' + mm;
    } 
        
    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("datefield").setAttribute("min", today);
</script>