<link rel="stylesheet" href="/css/reglogin.css">

	<section class="login_box_area section-margin">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<div class="hover">
							<h4>New to our website?</h4>
							<a class="button button-account" href="/user/register">Create an Account</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Log in to enter</h3>
						<form class="row login_form" method="post" action="" id="contactForm" >
							<div class="col-md-12 form-group">
								<input type="email" class="form-control" name="email" placeholder="Email" value="{{ email }}" required>
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control"  name="password" placeholder="Password" value="" required>
							</div>
							<div class="col-md-12 form-group">
								<div class="creat_account">
									<input type="checkbox" id="f-option2" name="selector">
									<label for="f-option2">Keep me logged in</label>
								</div>
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="Login" class="button button-login w-100">Log In</button>
								<a href="/user/resetpassword">Forgot Password?</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

<script>
    {{!-- Swal.fire({
      title: 'Enter your OTP',
      html: `Please note: You can find your OTP in your registered email and your OTP will expire in 5 minutes
      <input type="text" id="otp" name="otp" class="swal2-input" placeholder="OTP">`,
      confirmButtonText: 'Sign In',
      showCancelButton: true,
      focusConfirm: true,
      preConfirm: () => {
          const otp = Swal.getPopup.querySelector('#otp').value;
          if (!otp) {
              Swal.showValidationMessage('Please enter OTP');
          }
          return {otp: otp}
      }
    }).then((result) => {
      $.ajax({
          type: 'POST',
          data:{
              otp: result.value.otp
          },
          url: '/',
          success: function(data) {
              Swal.fire({
                  title: 'Logging In',
                  timer : 1000,
                  didOpen: () =>{
                      Swal.showLoading();
                      const b = Swal.getHtmlContainer().querySelector('b');
                      timerInterval = setInterval(() => {
                          b.textContext = Sqal.getTimerLeft()
                      },100)
                  },
                  willClose: () => {
                      clearInterval(timerInterval);
                  }
              })
              setTimeout(function() {
                  location.reload(), Swal.fire("logged in")
              }, 1500)
          },
          error: function(data) {
              console.log(err);
          }
      })
    }) --}}

</script>