<div class="container d-flex flex-column">
  <div class="row align-items-center justify-content-center
      min-vh-100 g-0">
    <div class="col-12 col-md-8 col-lg-4 border-top border-3 border-primary">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="mb-4">
            <h5>Verify OTP</h5>
            <p class="mb-2">Enter your OTP to log in
            </p>
            <p>Note: OTP will expire in 5 minutes</p>
          </div>
          <form method="POST">
            <div class="mb-3">
              <label for="otp" class="form-label">OTP</label>
              <input type="text" id="otp" class="form-control" name="otp" placeholder="Enter Your OTP"
                required="">
            </div>
            <div class="mb-3 d-grid">
              <button type="submit" class="btn btn-primary">
                Verify OTP
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>