<div class="container d-flex flex-column">
  <div class="row align-items-center justify-content-center
      min-vh-75 g-0"  style="padding-top: 7.5rem; top: 0;">
    <div class="col-12 col-md-8 col-lg-4 border-top border-3 border-primary" style="color:grey;">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="mb-4">
            <h1 style="text-align:center ; padding-bottom: 30px">Forgot Password?</h1>
            <h5 class="mb-2">Enter your registered email ID to reset the password</h5>
          </div>
          <form method="POST">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="text" id="email" class="form-control" name="email" placeholder="Enter Your Email"
                required="">
            </div>
            <div class="mb-3 d-grid">
              <button type="submit" class="btn btn-primary" style="background-color: var(--green)">
                Reset Password
              </button>
            </div>
            {{!-- <span>Don't have an account? <a href="user/register">sign up</a></span> --}}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  p {
    margin-bottom: 0 !important;
  }

  .border-primary {
    border-color: var(--green) !important;
}
h5 {
  font-size: 15px;
}
</style>