<div class="container-fluid">
    <div class="container text-center" style="padding: 50px;">
        <h1>Order Cancelled</h1>
    </div>
    <div class="container">
        <h2 class="h5 mb-5 text-center">You may also like these products</h2>
        <div class="row">
            <div class="col-lg-3">
                <div class="card text-center mb-3">
                    <div class="py-5 px-4">
                        <img src="https://via.placeholder.com/280x280/6495ED/000000" alt="" class="img-fluid mb-4" />
                        <h3 class="fs-6 text-truncate"><a href="#" class="stretched-link text-reset">Oranges</a></h3>
                        <span class="text-success">$7.90</span> <del class="text-muted">$10.30</del>
                    </div>
                    <div class="bg-danger text-white small position-absolute end-0 top-0 px-2 py-2 lh-1 text-center">
                        <span class="d-block">10%</span>
                        <span class="d-block">OFF</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card text-center position-relative mb-3">
                    <div class="py-5 px-4">
                        <img src="https://via.placeholder.com/280x280/FFB6C1/000000" alt="" class="img-fluid mb-4" />
                        <h3 class="fs-6 text-truncate"><a href="#" class="stretched-link text-reset">Apples</a></h3>
                        <span class="text-success">$4.10</span> <del class="text-muted">$6.80</del>
                    </div>
                    <div class="bg-danger text-white small position-absolute end-0 top-0 px-2 py-2 lh-1 text-center">
                        <span class="d-block">25%</span>
                        <span class="d-block">OFF</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card text-center mb-3">
                    <div class="py-5 px-4">
                        <img src="https://via.placeholder.com/280x280/008B8B/000000" alt="" class="img-fluid mb-4" />
                        <h3 class="fs-6 text-truncate"><a href="#" class="stretched-link text-reset">Pears</a></h3>
                        <span class="text-success">$2.50</span> <del class="text-muted">$3.10</del>
                    </div>
                    <div class="bg-danger text-white small position-absolute end-0 top-0 px-2 py-2 lh-1 text-center">
                        <span class="d-block">50%</span>
                        <span class="d-block">OFF</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card text-center mb-3">
                    <div class="py-5 px-4">
                        <img src="https://via.placeholder.com/280x280/00CED1/000000" alt="" class="img-fluid mb-4" />
                        <h3 class="fs-6 text-truncate"><a href="#" class="stretched-link text-reset">Bananas</a></h3>
                        <span class="text-success">$3.40</span> <del class="text-muted">$5.20</del>
                    </div>
                    <div class="bg-danger text-white small position-absolute end-0 top-0 px-2 py-2 lh-1 text-center">
                        <span class="d-block">25%</span>
                        <span class="d-block">OFF</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
body {
    margin-top: 20px;
}
.text-center {
    text-align: center !important;
}
.mb-5 {
    margin-bottom: 3rem !important;
}
.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
.text-reset {
    --bs-text-opacity: 1;
    color: inherit !important;
}
a {
    color: #5465ff;
    text-decoration: none;
}
body {
    background;
}
.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 1rem;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.5rem 1.5rem;
}
</style>