<div class="container">
	{{#if (ifmoney amountSpent)}}
        {{!-- <p>{{user.amountSpent}}</p> --}}
	{{else}}
        <h3>Not Enough Money Spent</h3>
        <p>${{user.amountSpent}}(spent) out of $50(needed)</p>
	{{/if}}


</div>
{{!-- <p>hi</p> --}}